.header a, a:hover {
    color: #beab00;
    text-decoration: none;
}

.header h1 {
    letter-spacing: 15px;
    font-size: 300%;
}

.header p {
    color: white !important;
    font-size: 90%;
    letter-spacing: 3px;
}

.nav-pills a{
    color:rgb(252, 252, 252);
    letter-spacing: 1px;
    font-size: 0.9em;
}

.nav-pills li a:hover, .nav-pills li a:focus {
    background-color: rgb(0, 172, 149);
}